#mocha {
  position: absolute;
  top: 0;
  right: 0;
}
.container {
  top: 0;
  width: 100px;
  height: 5000px;
  background-color: #000;
}
.container-scrolling-x {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 100px;
  height: 100px;
  overflow-x: scroll;
}
.container-scrolling-x > div {
  height: 5000px;
  background-color: #000;
}
.container-scrolling-y {
  position: absolute;
  top: 100px;
  left: 400px;
  width: 100px;
  height: 100px;
  overflow-y: scroll;
}
.container-scrolling-y > div {
  width: 5000px;
  height: 100px;
  background-color: #000;
}
.t {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
}
.ty {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
}
.t100 {
  top: 100px;
}
.t200 {
  top: 200px;
}
.t3000 {
  top: 3000px;
}
.t4000 {
  top: 4000px;
}
.ty300 {
  left: 300px;
}
.ty5000 {
  left: 5000px;
}
